<!DOCTYPE html>
<html>
<title>Prediction</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{
animation: change2 10s infinite;
}


@keyframes change2{
  0%{background-color: teal;}
  25%{background-color: darkslategray;}
  50%{background-color: gold;}
  75%{background-color: rgb(23, 8, 92);}
  100%{background-color: rgb(178, 34, 77);}
}

h1 {
letter-spacing: 6px
}
</style>
<body>
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
    <h1>Based on your input your salary will be </h1>
    <h2>{{inf}}</h2>
</header>
</body>
</html>
